

body {
  background-image: url(../image/fundo.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Sans', sans-serif;
  line-height: 100%;
}


ul {
  list-style-type: none;
  padding: 10px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #c4004f;
}

.conteudo-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

/* -------------- TOPO -------------- */
.topo {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100px;;
  min-width: 320px;
}

.topo-esquerdo{
  width: 15%;
  height: 100px;
}

.topo-logo{
  width: 50%;
  margin-left: 30%;
  min-width: 60px;
}

.topo-logo img {
  width: 100%;
}

.topo-centro{
  width: 70%;
  height: 100px;
  padding: 10px 0;
}

.topo-pesquisa{
  width: 45%;
  display: flex;
  justify-content: center;
}

.conteudo-pesquisa{
  width: 90%;
  background-color: #fff;
}

fieldset {
  border: none;
}

.bar-pesquisa{
  width: 90%;
}

.bar-pesquisa input[type="text"] {
  font-family: 'Lato', sans-serif;
  font-size: 1vmax;
  color: #585858;
  width: 100%;
  height: 2vmax;
  border: 1px solid #fff;
  text-align: left;
}

.bar-pesquisa input:focus {
  outline: 0;
}

.btn-pesquisar {
  width: 5%;
  background-color: #fff;
}

.btn-pesquisar button{
  color: #585858;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1vmax;
  background: rgba(#ffffff, 0);
  color: #fff;
  cursor: pointer;
  outline: 0;
  border: none;
}

.topo-menu {
  text-align: center;
  color: #fff;
  margin: 0 20px;
}

.topo-menu li {
  text-align: center;
  font-size: 1vmax;
  font-family: 'Heebo', sans-serif;
  padding: 0 10px;
  text-decoration: none;
}

.topo-menu a {
  margin: 0 2px;
}


